<div class="main-container">
  <h1>Add a new link</h1>

  <form action="/insert_item" method="post">
    <div>
      <label for="link_url_field">Link URL</label>
      <input id="link_url_field" name="query_link_url" type="text">
    </div>

    <div>
      <label for="link_description_field">Link Description</label>
      <input id="link_description_field" name="query_link_description" type="text">
    </div>

    <div>
      <label for="thumbnail_url_field">Thumbnail URL</label>
      <input id="thumbnail_url_field" name="query_thumbnail_url" type="text">
    </div>

    <button>Create item</button>
  </form>

  <hr>

  <div class="links-row">
    <% @list_of_items.each do |the_item| %>
      <div class="item">
        <img src="<%= the_item.thumbnail_url %>" class="thumbnail">

        <a class="link-text" target="_blank" href="<%= the_item.link_url %>">
          <%= the_item.link_description %>
        </a>
      </div>
    <% end %>
  </div>
</div>
